<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.psychoanalysis.iqtest"
      android:versionCode="5"
      android:versionName="2.0">
	<supports-screens android:smallScreens="true"
	    android:normalScreens="true"
	    android:largeScreens="true"
	    android:anyDensity="true"/>      
    <application android:icon="@drawable/icon" android:debuggable="true" android:label="@string/app_name">
        <activity android:name=".SplashActivity"
        		  android:configChanges="orientation|keyboardHidden|navigation|locale"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>       
        <activity android:name=".MainActivity"
        		  android:configChanges="orientation|keyboardHidden|navigation|locale"
                  android:label="@string/app_name">
        </activity>
		
		<activity android:name="com.wiyun.game.AccountRetrieval"
		android:label="@string/wy_title_edit_profile"></activity>
		<activity android:name="com.wiyun.game.AchievementAccomplishers"
		android:label="@string/wy_title_honor_roll"></activity>
		<activity android:name="com.wiyun.game.AchievementList"
		android:label="@string/wy_title_achievements"></activity>
		<activity android:name="com.wiyun.game.AppDetail"></activity>
		<activity android:name="com.wiyun.game.AppTab"></activity>
		<activity android:name="com.wiyun.game.BidPicker"
		android:theme="@android:style/Theme.Dialog"></activity>
		<activity android:name="com.wiyun.game.ChallengeDetail"
		android:label="@string/wy_title_challenge_info"></activity>
		<activity
		android:name="com.wiyun.game.ChallengeHistoryList"></activity>
		<activity android:name="com.wiyun.game.ChallengeList"
		android:label="@string/wy_title_challenges"></activity>
		<activity android:name="com.wiyun.game.ChangeMyName"
		android:label="@string/wy_title_edit_profile"></activity>
		<activity android:name="com.wiyun.game.ChangeMyPortrait"
		android:label="@string/wy_title_edit_profile"></activity>
		<activity android:name="com.wiyun.game.ComposeReply"
		android:label="@string/wy_title_post_reply"></activity>
		<activity android:name="com.wiyun.game.ComposeTopic"
		android:label="@string/wy_title_post_topic"></activity>
		<activity android:name="com.wiyun.game.ControlPanel"
		android:label="@string/wy_title_edit_profile"></activity>
		<activity android:name="com.wiyun.game.Dashboard"
		android:label="@string/wy_title_dashboard"></activity>
		<activity android:name="com.wiyun.game.DownloadBlob"
		android:theme="@android:style/Theme.Dialog"></activity>
		<activity android:name="com.wiyun.game.FindFriends"
		android:label="@string/wy_title_fan_club"></activity>
		<activity android:name="com.wiyun.game.FanClub"
		android:label="@string/wy_title_how_to_find_friends"></activity>
		<activity android:name="com.wiyun.game.FriendList"></activity>
		<activity android:name="com.wiyun.game.FullImageGallery"></activity>
		<activity android:name="com.wiyun.game.GetMostOut"></activity>
		<activity android:name="com.wiyun.game.Home"
		android:launchMode="singleTask"
		android:windowSoftInputMode="stateHidden|adjustUnspecified"></activity>
		<activity android:name="com.wiyun.game.HomeV3"
		android:launchMode="singleTask"
		android:windowSoftInputMode="stateHidden|adjustUnspecified"></activity>
		<activity android:name="com.wiyun.game.LeaderboardList"
		android:label="@string/wy_title_leaderboards"></activity>
		<activity android:name="com.wiyun.game.Login"
		android:label="@string/wy_title_edit_profile"></activity>
		<activity android:name="com.wiyun.game.LoginOrSwitch"></activity>
		<activity android:name="com.wiyun.game.MessageList"
		android:label="@string/wy_title_message_history"></activity>
		<activity android:name="com.wiyun.game.MessageThreads"
		android:label="@string/wy_title_message_threads"></activity>
		<activity android:name="com.wiyun.game.MyWiYun"></activity>
		<activity android:name="com.wiyun.game.MyWiYunTab"></activity>
		<activity android:name="com.wiyun.game.NeighborList"
		android:label="@string/wy_title_my_neighbors"></activity>
		<activity android:name="com.wiyun.game.NoticeList"
		android:label="@string/wy_title_system_notice"></activity>
		<activity android:name="com.wiyun.game.PostList"></activity>
		<activity android:name="com.wiyun.game.PrivacyAndOtherSettings"
		android:label="@string/wy_title_edit_profile"></activity>
		<activity android:name="com.wiyun.game.SearchUser"
		android:label="@string/wy_title_search_user"></activity>
		<activity android:name="com.wiyun.game.SendChallenge"
		android:label="@string/wy_title_send_challenge"></activity>
		<activity android:name="com.wiyun.game.ScoreList"></activity>
		<activity android:name="com.wiyun.game.ShareGame"
		android:label="@string/wy_title_share_game"></activity>
		<activity android:name="com.wiyun.game.StoreAppList"></activity>
		<activity android:name="com.wiyun.game.SubmitScore"
		android:windowSoftInputMode="stateHidden|adjustUnspecified"></activity>
		<activity android:name="com.wiyun.game.SwitchAccount"
		android:label="@string/wy_title_edit_profile"></activity>
		<activity android:name="com.wiyun.game.TopicList"
		android:label="@string/wy_title_discussion"></activity>
		<activity android:name="com.wiyun.game.UnbindAccount"
		android:label="@string/wy_title_edit_profile"></activity>
		<activity android:name="com.wiyun.game.UseAnotherAccount"
		android:windowSoftInputMode="stateHidden|adjustUnspecified"
		android:label="@string/wy_title_edit_profile"></activity>
		<activity android:name="com.wiyun.game.UserAppList"></activity>
		<activity android:name="com.wiyun.game.UserDashboard"
		android:label="@string/wy_title_user_dashboard"></activity>
		<activity android:name="com.wiyun.game.Welcome"></activity>
		<activity android:name="com.wiyun.game.WhoIsPlaying"
		android:label="@string/wy_title_who_is_playing"></activity>
		<activity android:name="com.wiyun.game.WiYunTab"></activity>
		<activity android:name="com.wiyun.game.WiYun"></activity>	
		<activity android:name="net.youmi.android.AdActivity"
android:configChanges="keyboard|keyboardHidden|orientation"/>	
    </application>
    <uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.INTERNET" />\
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />\
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />\
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest> 